server:
  tomcat:
    accesslog.enabled: true
    accesslog.pattern: common
    basedir: /app/data
eureka:
  client:
    serviceUrl:
#      defaultZone: http://localhost:8761/eureka/ #非认证模式
      defaultZone: http://user:123@47.75.206.89:8761/eureka/
  instance:
    prefer-ip-address: true #服务端管理界面显示ip地址
    
spring:
  profiles: prd
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://172.31.134.237:3306/shabao_blog?useUnicode=true&characterEncoding=utf8&useSSL=false
    username: master
    password: 19911105man
  jpa:
    properties:
      hibernate.search.default.indexBase: /app/data/indexs
  redis:
    database: 10
    port: 6379
    host: 47.75.206.89
    password: 19911105man
    pool:
      max-active: 20

security:
  basic:
    enabled: false
  oauth2:
    client:
      clientId: shabao
      clientSecret: 123456
      loginCenterUri: http://www.xiaoshabao.com/login
      accessTokenUri: http://www.xiaoshabao.com/shabao-gateauth/oauth/token
      userAuthorizationUri: http://www.xiaoshabao.com/shabao-gateauth/oauth/authorize
    resource:
      id: blog-service
      userInfoUri: http://www.xiaoshabao.com/shabao-gateauth/user
      prefer-token-info: false

logging:
  level:
    root: DEBUG
    com.xiaoshabao.blog.mapper: DEBUG
  path: /app/data/logs
